---
import Header from '../components/header.tsx';
import Hero from '../components/hero.tsx';
---

  <div>
    <Header />
    <Hero/>
    {/* Here you can add more content for your Astro page */}
  </div>
